# Grafana runtime data
grafana_data/

# Prometheus runtime data
prometheus_data/

# Loki data
loki/data/

# Databases
*.db
*.sqlite

# Ignorar datos de métricas
metrics_storage/

# Ignorar archivos de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# Logs
*.log
