apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://192.168.201.1:9090
    isDefault: true
    uid: prometheus
    editable: true
    jsonData:
      timeInterval: "15s"